# System & OS
.DS_Store
Thumbs.db

# Daten- und Arbeitsverzeichnisse ausschließen
/data/input/*
!/data/input/.gitkeep
/data/processing/*
!/data/processing/.gitkeep
/data/output/*
!/data/output/.gitkeep

# n8n Daten, Keys & Secrets
docker/n8n/data/
.env
.env.*
!.env.example
*.env

# Ansible Vault & Temporary Files
*.retry
.ansible/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv*/
venv/
site/